.animated-components {
    animation: animate_components .6s ease 1 forwards;
}
@keyframes animate_components {

    from {
        transform: translateY(50px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }


}